# Игнорируем сами файлы логов, которые подтягиваешь для анализа
*.log
logs/
*.txt

# Если пишешь анализатор на Go / Python / Node.js
# Игнорируем их локальные зависимости и артефакты компиляции
node_modules/
__pycache__/
*.pyc
.venv/
bin/
dist/

# Игнорируем локальные конфиги со скрытыми переменными окружения
.env

opencode.json